
@{
    ViewBag.Title = "LoginCheck";
   
}

<h2>LoginCheck</h2>


<a href="@Url.Action("Start", new { id=1 })"><img src="~/Images/Login.png" alt="Facebook Login" /></a>
<a href="@Url.Action("Logout", new { id=1 })"><img src="~/Images/Logout.png" alt="Facebook Logout" /></a>
@*<p>@Viewbag.check</p>*@

@*@if (@Html.Raw() == "Logged in")
{*@
    
@*}*@

@*else*@
@*{*@
    
@*}*@
